

body{
    background-image:  url('partials/back.jpg');
}


.backgroundm{
  background-image:  url('partials/back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%
}
